<!-- <div fxLayout="row" fxLayoutGap.md="30px" fxLayoutGap.lt-md="0" fxLayoutGap.lt-sm="10"> -->
<!-- <div fxFlex.xs="5" fxHide.gt-sm></div> -->
<div fxLayout="row" fxFlex="100" fxFlex.lt-md="100" fxLayout.lt-md="column" fxLayoutGap="15px">
  <app-region-map fxFlex="55" fxFlex.lt-md="100"></app-region-map>
  <!-- End Map -->
  <!--  Start overview-->
  <app-region-overview fxFlex="43" fxFlex.lt-md="100" [isDetail]="isDetail"
    (showFruitDetail)="handleDetailFruit($event)" *ngIf="isDetail === false"></app-region-overview>
  <app-fruit-detail fxFlex="43" fxFlex.lt-md="100" *ngIf="isDetail === true"></app-fruit-detail>
  <!-- <div fxFlex="10" fxHide.lt-md></div> -->
</div>

<!-- </div> -->
<!-- <div fxFlex="10" fxHide.gt-md></div> -->
<!-- </div> -->