@import "../../../../../shared/scss/responsive";
::ng-deep .region_detail {
    background-color: #eff4ee;
    border-radius: 10px;
    height: 87vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    @media #{$lt_md} {
        height: auto;
    }
    .mat-tab-label {
        width: 50%;
        height: 44px;
        @media #{$md} {
            min-width: 72px;
        }
    }
    .mat-tab-body-content {
        overflow: hidden;
    }
    .mat-tab-label-container {
        padding: 30px 30px 0 30px;
    }
    .mat-tab-label-active {
        opacity: 1;
        border-radius: 50px;
        background: #4f6a5d;
    }
    .mat-tab-body.mat-tab-body-active {
        overflow-y: hidden;
    }
    .mat-tab-list {
        height: 44px;
        width: 100%;
        background-color: #fff;
        border-radius: 50px;
    }
    .mat-ink-bar {
        height: 4px;
        width: 35px !important;
        background-color: white !important;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        left: 16.6% !important;
        transform: translateX(-50%);
    }
    .mat-tab-header[ng-reflect-selected-index="1"] .mat-ink-bar {
        transform: translateX(-50%);
        left: 50% !important;
    }
    .mat-tab-header[ng-reflect-selected-index="2"] .mat-ink-bar {
        transform: translateX(-50%);
        left: 83.3% !important;
    }
    .mat-tab-label .mat-tab-label-content {
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 44px;
        color: #ccc;
        font-weight: 600;
        @media #{$xs} {
            font-size: 16px;
        }
        @media #{$lt_xs} {
            font-size: 13px;
        }
        @media #{$md} {
            font-size: 16px;
        }
    }
    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
}

* {
    font-family: "Segoe UI", sans-serif;
}

.pl-40 {
    padding-left: 40px;
}

$colortext: #05342D;
// mat tab
// Tổng uan
.region_overview {
    padding-left: 30px;
    padding-right: 50px;
    .region_overview_head {
        margin-bottom: 80px;
        .region_overview_title {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 45px;
            line-height: normal;
            font-weight: 500;
            color: $colortext;
            text-transform: capitalize;
        }
        .region_overview_description {
            font-size: 16px;
            line-height: 30px;
            color: $colortext;
            font-weight: 400;
        }
    }
    .region_overview_carousel {
        h4 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 20px;
            color: $colortext;
        }
        img {
            border-radius: 10px;
            display: block;
        }
    }
    .region_overview_statistic {
        margin-top: 50px;
        .statistics_heading {
            height: 40px;
            line-height: 40px;
            padding-left: 40px;
            background-color: $colortext;
            border-radius: 50px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0;
        }
        .table_statistic {
            width: 100%;
            margin-left: 40px;
            margin-top: 40px;
            tr {
                td {
                    &::before {
                        content: attr(data-title) " ";
                        float: left;
                        text-transform: capitalize;
                        margin-right: 15px;
                        font-weight: bold;
                        display: none;
                    }
                    span {
                        font-size: 18px;
                        color: $colortext;
                    }
                    &[data-title] {
                        span {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

// Vùng miền
.region_matregions {
    padding: 0 30px;
    .region_matregions_carousel {
        .carousel-cell {
            div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3 {
                    font-size: 45px;
                    font-weight: 400;
                    line-height: normal;
                    color: $colortext;
                }
                p {
                    font-size: 20px;
                    color: $colortext;
                    font-weight: 300;
                }
            }
        }
    }
    .matregions_list {
        background-color: #fff;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        ul {
            max-height: 60vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 20px;
            li {
                height: 150px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                &.active {
                    background-color: #f3f8f2;
                }
                div {
                    position: relative;
                    h4 {
                        font-size: 30px;
                        font-weight: bold;
                        color: $colortext;
                    }
                    .table_matregions {
                        width: 50%;
                        tr {
                            td {
                                span {
                                    font-size: 15px;
                                    color: $colortext;
                                    font-weight: bold;
                                }
                            }
                            &[data-title] {
                                font-weight: 400;
                            }
                        }
                    }
                    a {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        font-size: 12px;
                        font-weight: 400;
                        color: #0b3f3d;
                        display: flex;
                        align-items: center;
                        img {
                            color: #0b3f3d;
                        }
                        .icon_chevron_right {
                            color: #0b3f3d;
                        }
                    }
                }
            }
        }
    }
}