@import "../../../../../shared/scss/responsive";
::ng-deep .region_detail {
    background-color: #eff4ee;
    border-radius: 10px;
    height: 87vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    @media #{$lt_md} {
        height: auto;
    }
    .mat-tab-label {
        width: 50%;
        height: 44px;
        @media #{$md} {
            min-width: 72px;
        }
    }
    @media #{$lt_xs} {
        font-size: 13px;
    }
    .mat-tab-label-container {
        padding: 10px 30px 0 30px;
    }
}

.mat-tab-nav-bar,
.mat-tab-header {
    border-bottom: none;
}

.mat-tab-header-pagination {
    display: none !important;
}

* {
    font-family: "Segoe UI", sans-serif;
}

.region_detail_overview {
    padding: 0 30px;
    @media #{$lt_lg} {
        padding: 0 30px 60px 30px;
    }
    @media #{$lt_sm} {
        padding: 0 15px 30px 15px;
    }
    @media #{$md} {
        padding: 0 15px 30px 15px;
    }
}

.region_overview_video {
    width: 100%;
    height: auto;
    padding-top: 25px;
    img {
        height: 480px;
        width: 100%;
        border-radius: 10px;
        @media (min-width: 1024px) and (max-width: 1439px) {
            height: 200px;
        }
        @media (min-width: 1440px) and (max-width: 1920px) {
            height: 350px;
        }
        .mat-tab-list {
            height: 44px;
            width: 100%;
            background-color: #fff;
            border-radius: 50px;
        }
        @media #{$lt_md} {
            height: 350px;
        }
        @media #{$lt_sm} {
            height: 300px;
        }
        @media #{$lt_xs} {
            height: 180px;
        }
    }
}

.region_overview_statistic {
    margin-top: 25px;
    background: #f2f0e6;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    position: relative;
    padding-bottom: 100px;
    @media #{$lt_lg} {
        padding-bottom: 50px;
    }
    @media #{$gt_md} and (max-width:1440px) {
        margin-top: 15px;
        padding-bottom: 20px;
    }
    @media #{$xs} {
        padding-bottom: 50px;
    }
    @media #{$lt_xs} {
        padding-bottom: 30px;
    }
    @media #{$lt_sm} {
        margin-top: 15px;
    }
    .overview_title {
        max-height: 46px;
        margin: 10px 10px 25px 10px;
        padding-left: 25px;
        background-color: #e6e4da;
        border-radius: 10px;
        @media (max-width: 500px) {
            text-align: center;
            max-height: unset;
            padding-left: 0;
        }
        @media (min-width: 1024px) and (max-width: 1440px) {
            margin: 10px 10px 10px 10px;
        }
        @media #{$lt_xs} {
            margin: 10px 10px 10px 10px;
        }
        h4 {
            font-weight: 600;
            margin-bottom: 0;
            font-size: 21px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px 0;
            .pl-40 {
                padding-left: 40px;
            }
            // mat tab
            // Tổng uan
            .region_overview {
                padding: 0 30px;
                .region_overview_head {
                    margin-bottom: 80px;
                    .region_overview_title {
                        margin-top: 30px;
                        margin-bottom: 30px;
                        font-size: 48px;
                        font-weight: 500;
                        color: #06342a;
                        text-transform: capitalize;
                    }
                    .region_overview_description {
                        font-size: 18px;
                        line-height: 32px;
                        color: #06342a;
                    }
                }
                .region_overview_carousel {
                    h4 {
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 20px;
                        color: #06342a;
                    }
                    img {
                        border-radius: 10px;
                        display: block;
                    }
                }
                .region_overview_statistic {
                    margin-top: 50px;
                    .statistics_heading {
                        height: 40px;
                        line-height: 40px;
                        padding-left: 40px;
                        background-color: #06342a;
                        border-radius: 50px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    .table_statistic {
                        width: 100%;
                        margin-left: 40px;
                        margin-top: 40px;
                        tr {
                            td {
                                &::before {
                                    content: attr(data-title) " ";
                                    float: left;
                                    text-transform: capitalize;
                                    margin-right: 15px;
                                    font-weight: bold;
                                    display: none;
                                }
                                span {
                                    font-size: 18px;
                                    color: #06342a;
                                }
                                &[data-title] {
                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // Vùng miền
            .region_matregions {
                padding: 0 30px;
                .region_matregions_carousel {
                    .carousel-cell {
                        div {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            h3 {
                                font-size: 72px;
                                font-weight: 600;
                                line-height: normal;
                                color: #06342a;
                            }
                            p {
                                font-size: 21px;
                                color: #06342a;
                            }
                        }
                    }
                    .table_lable {
                        display: block;
                        margin-right: 35px;
                        font-weight: 600;
                        @media (max-width: 430px) {
                            margin-right: 0;
                        }
                        @media (min-width: 1280px) and (max-width: 1440px) {
                            margin-right: 10px;
                        }
                    }
                    .table_detail {
                        font-weight: 400;
                    }
                }
            }
            .matregions_list {
                background-color: #fff;
                padding-top: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                border-radius: 10px;
                ul {
                    max-height: 60vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding-right: 20px;
                    li {
                        height: 150px;
                        padding-left: 15px;
                        padding-right: 20px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        &.active {
                            background-color: #f3f8f2;
                        }
                        div {
                            position: relative;
                            h4 {
                                font-size: 32px;
                                font-weight: 600;
                                color: #06342a;
                            }
                            .table_matregions {
                                width: 50%;
                                tr {
                                    td {
                                        span {
                                            font-size: 18px;
                                            color: #06342a;
                                            font-weight: 600;
                                        }
                                    }
                                    &[data-title] {
                                        font-weight: 400;
                                    }
                                }
                            }
                            a {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                color: #0b3f3d;
                                display: flex;
                                align-items: center;
                                img {
                                    color: #0b3f3d;
                                }
                                .icon_chevron_right {
                                    color: #0b3f3d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
