<div fxLayout="row" fxLayout.lt-lg="column" fxFlex="87" fxFlex.lt-lg="100" fxLayoutGap="20px" fxLayoutAlign="center">
  <div fxFlex="55" fxFlex.lt-lg="100">
    <!-- ================= Search result ========================== -->

    <div fxLayout="column">
      <div [style.margin-left.vw]="5" class="search_region" fxFlexAlign="start" fxLayout="row" fxLayout.lt-lg="column">
        <div class="search_common" fxFlex="35" fxLayoutGap="30px" fxLayout.lt-md="column">
          <div class="fruit_text d-flex ">
            <img src="../../../../assets/images/Path 18173.png" alt="">
            <span class="fruit_title">Trái Cây</span>
          </div>
          <div class="search_common_list d-flex" *ngFor="let item of list">
            <img [src]=item.image alt="">
            <div class="common_item">
              <div class="item_text">
                <ul>
                  <li><a href="">{{item.name}}</a></li>
                  <li>Khu vực : </li>
                  <li>Thời gian mùa vụ :</li>
                  <li>Số lượng :</li>
                </ul>

              </div>

              <div class="fruit_ratings_css_top">
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
              </div>
            </div>
          </div>
        </div>

        <div class="search_result" fxFlex=" 65" fxLayout.lt-md="column">
          <div class="fruit_text d-flex ">
            <img src="../../../../assets/images/floor.png" alt="">
            <span class="fruit_title">Vùng/miền</span>
          </div>
          <div class="search_result_item " *ngFor="let item of region">
            <h1>{{item.name}}</h1>
            <div class="statistic_right">
              <table class="regions_table">
                <tr>
                  <td class="table_lable">Diện tích:</td>
                  <td class="table_detail">2500 km2</td>
                </tr>
                <tr>
                  <td class="table_lable">Khí hậu:</td>
                  <td class="table_detail">Nhiệt đới ẩm</td>
                </tr>
                <tr>
                  <td class="table_lable">Loại trái cây:</td>
                  <td class="table_detail">1 loại</td>
                </tr>
              </table>
              <div class="regions_fruit_icon d-flex">
                <img src="../../../../assets/svg/icon/fruit.svg" alt="">
                <span>Trái cây ở Hà Giang</span>
                <mat-icon>chevron_right</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
