@import "../../../../../shared/scss/responsive";
::ng-deep .province_detail {
    background-color: #faf9f7;
    border-radius: 10px;
    height: 87vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    @media #{$lt_md} {
        height: auto;
    }
    @media (min-height:1080px) {
        height: 50vh;
    }
    .mat-tab-label {
        width: 50%;
        height: 44px;
        @media #{$md} {
            min-width: 72px;
        }
    }
    .mat-tab-body-content {
        overflow: hidden;
    }
    .mat-tab-label-container {
        padding: 10px 10px 0 10px;
    }
    .mat-tab-label-active {
        opacity: 1;
        border-radius: 50px;
        background: #4f6a5d;
    }
    .mat-tab-body.mat-tab-body-active {
        overflow-y: hidden;
    }
    .mat-tab-list {
        height: 44px;
        width: 100%;
        background-color: #fff;
        border-radius: 50px;
    }
    .mat-ink-bar {
        height: 4px;
        width: 35px !important;
        background-color: white !important;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        left: 16.6% !important;
        transform: translateX(-50%);
    }
    .mat-tab-header[ng-reflect-selected-index="1"] .mat-ink-bar {
        transform: translateX(-50%);
        left: 50% !important;
    }
    .mat-tab-header[ng-reflect-selected-index="2"] .mat-ink-bar {
        transform: translateX(-50%);
        left: 83.3% !important;
    }
    .mat-tab-label .mat-tab-label-content {
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 44px;
        color: #ccc;
        font-weight: 600;
        @media #{$xs} {
            font-size: 16px;
        }
        @media #{$lt_xs} {
            font-size: 13px;
        }
        @media #{$md} {
            font-size: 16px;
        }
    }
    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
}

* {
    font-family: "Segoe UI", sans-serif;
}

.province_detail {
    background-color: #eff4ee;
}

.carousel-overview {
     ::ng-deep {
        .carousel-arrow {
            background-color: #06332e !important;
            background-image: none;
        }
        .carousel-arrow-prev {
            background-image: url("../../../../../../assets/images/keyboard_arrow_left-24px.svg") !important;
        }
        .carousel-arrow-next {
            background-image: url("../../../../../../assets/images/keyboard_arrow_right-24px.svg") !important;
        }
    }
}

.province {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #0b352b;
    line-height: 180px;
}

.province__list {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    padding: 5px 0;
    .list__all {
        height: 550px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.search_common_list {
    margin-top: 10px;
    padding-left: 20px;
    margin-right: 20px;
    border-radius: 0 10px 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: #f3f8f2;
    }
    & img {
        width: 115px;
        height: 115px;
    }
    .common_item {
        margin-left: 20px;
        .item_text {
            margin-bottom: 10px;
            ul {
                li {
                    color: #192e29;
                    font-size: 16px;
                    &:nth-child(1) {
                        font-size: 18px;
                        color: #051c16;
                        font-weight: 500;
                        text-transform: capitalize !important;
                    }
                }
            }
        }
        .fruit_ratings_css_top {
            font-size: 18px;
            margin-right: 10px;
            @media #{$lt_xs} {
                font-size: 14px;
            }
            span {
                font-size: 20px;
                color: #ebb43d;
                padding-right: 10px;
            }
            span:nth-child(4) {
                color: #cfcfcf;
            }
            span:nth-child(5) {
                color: #cfcfcf;
            }
        }
    }
}