<!-- <div class="map__region">
    <h3 class="map__region-title text-center">
        Bản đồ
    </h3>
    <div class="map__region-chart">
        <svg viewBox="0 0 631 728" preserveAspectRatio="xMidYMid meet" class="svg_image"></svg>
    </div>
</div> -->
<div class="map_region">
    <div class="map_region_title">
        <h2>Hà Giang</h2>
        <div class="">
            <a href=""><img src="assets/images/Path 18173.png" alt=""> Trái cây ở Hà giang
                <mat-icon class="icon_chevron_right">chevron_right</mat-icon>
            </a>

        </div>
    </div>
    <div class="map_region_statistics">
        <table id="" class="table_statistic">
            <tbody>
                <tr>
                    <td class=""> <span>Số lượng tỉnh/thành phố:</span></td>
                    <td class="" data-title="Số lượng tỉnh/thành phố:"> <span>11 tỉnh/thành phố</span></td>
                </tr>
                <tr>
                    <td class=""> <span>Diện tích:</span></td>
                    <td class="" data-title="Diện tích:"> <span>350.000 km2</span></td>
                </tr>
                <tr>
                    <td class=""> <span>Khí hậu:</span></td>
                    <td class="" data-title="Khí hậu:"> <span>Nhiệt đới ẩm</span></td>
                </tr>


            </tbody>
        </table>
        <table id="" class="table_statistic">
            <tbody>

                <tr>
                    <td class=""> <span>Dân số:</span></td>
                    <td class="" data-title="Dân số:"> <span>12 800.000 người</span></td>
                </tr>
                <tr>
                    <td class=""> <span>Thổ nhưỡng:</span></td>
                    <td class="" data-title="Thổ nhưỡng"> <span>Đất đỏ</span></td>
                </tr>
                <tr>
                    <td class=""> <span>Số lượng trái cây:</span></td>
                    <td class="" data-title="Số lượng trái cây:"> <span>15 loại</span></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>