<div class="standard" fxLayout="row" fxFlex="100" fxFlex.lt-md="100" fxLayout.lt-md="column" fxLayoutGap="30px">
  <div fxFlex="50" fxFlex.lt-md="100">
    <div class="standard_item d-flex">
      <img src="../../../assets/images/Group 4838.png" alt="">
      <div class="standard_item_text">
        <h2>Trái cây đặc hữu</h2>
        <p>
          It is a long established fact that a reader will
          be distracted by the readable content of a page
          when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less.
        </p>
      </div>
    </div>
    <div class="standard_item d-flex">
      <img src="../../../assets/images/Group 4838.png" alt="">
      <div class="standard_item_text">
        <h2>Trái cây đặc hữu</h2>
        <p>
          It is a long established fact that a reader will
          be distracted by the readable content of a page
          when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less.
        </p>
      </div>
    </div>
    <div class="standard_item d-flex">
      <img src="../../../assets/images/Group 4839.png" alt="">
      <div class="standard_item_text">
        <h2>Truy Xuất Nguồn Gốc</h2>
        <p>
          It is a long established fact that a reader will
          be distracted by the readable content of a page
          when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less.
        </p>
      </div>
    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100">
    <div class="standard_item1 d-flex">
      <img src="../../../assets/images/Image_19-removebg-preview.png" alt="">
      <div class="standard_item_text">
        <h2>Globalgap</h2>
        <p>
          It is a long established fact that a reader will
          be distracted by the readable content of a page
          when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less.
        </p>
      </div>
    </div>
    <div class="standard_item1 d-flex">
      <img src="../../../assets/images/Image_20-removebg-preview.png" alt="">
      <div class="standard_item_text">
        <h2>Vietgap</h2>
        <p>
          It is a long established fact that a reader will
          be distracted by the readable content of a page
          when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less.
        </p>
      </div>
    </div>
  </div>

</div>
