<div class="nation_detail">
    <mat-tab-group [(selectedIndex)]=selectedIndex>
        <mat-tab label="Tổng quan" fxLayout="column">
            <div class="nation_detail_overview">
                <div class="nation_overview_video">
                    <iframe src="https://www.youtube.com/embed/psmJzQulRPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <div class="play_btn">
                    </div>
                    <span class="overview-icon"><i class="fas fa-play"></i></span> -->
                </div>
                <div class="nation_overview_statistic" fxLayout="column">
                    <div class="overview_title">
                        <h4 class="text-center">Thống kê số liệu</h4>
                    </div>
                    <div class="overview_detail">
                        <div>
                            <label for="">Số lượng tỉnh/ thành phố:</label>
                            <span>11 tỉnh/ thành phố</span>
                        </div>
                        <div>
                            <label for="">Diện tích:</label>
                            <span>350.000 km2</span>
                        </div>
                        <div>
                            <label for="">Khí hậu:</label>
                            <span>Nhiệt đới ẩm</span>
                        </div>
                        <div>
                            <label for="">Dân số:</label>
                            <span>12.800.000 người</span>
                        </div>
                        <div>
                            <label for="">Thổ nhưỡng:</label>
                            <span>Đất đỏ</span>
                        </div>
                        <div>
                            <label for="">Số lượng trái cây:</label>
                            <span>15 loại</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Vùng/Miền">
            <h1 class="mat-region-text">Viet Nam</h1>
            <div class="search_all">
                <div class="search_result_item " *ngFor="let item of list_region">
                    <h1>{{item.Name}}</h1>
                    <div class="statistic_right">
                        <table class="regions_table">
                            <tr>
                                <td class="table_lable">Diện tích:</td>
                                <td class="table_detail">2500 km2</td>
                            </tr>
                            <tr>
                                <td class="table_lable">Khí hậu:</td>
                                <td class="table_detail">Nhiệt đới ẩm</td>
                            </tr>
                            <tr>
                                <td class="table_lable">Loại trái cây:</td>
                                <td class="table_detail">1 loại</td>
                            </tr>
                        </table>
                        <div class="regions_fruit_icon d-flex">
                            <img src="../../../../../../assets/images/food-and-restaurant.png" alt="">
                            <a (click)=getId(item.GeographicregionGeographicinfoId)>Trái cây ở {{item.Name}}</a>
                            <mat-icon>chevron_right</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Trái cây">
            <div class="search_common" fxFlex="35" fxLayoutGap="30px" fxLayout.lt-md="column">
                <div class="search_common_list d-flex" *ngFor="let item of list">
                    <img [src]=item.image alt="">
                    <div class="common_item">
                        <div class="item_text">
                            <ul>
                                <li><a href="">{{item.name}}</a></li>
                                <li>Khu vực : </li>
                                <li>Thời gian mùa vụ :</li>
                                <li>Số lượng :</li>
                            </ul>
                        </div>
                        <div class="fruit_ratings_css_top">
                            <span><img src="../../../../../../assets/images/Group 4838.png" alt=""></span>
                            <span><img src="../../../../../../assets/images/Group 4837.png" alt=""></span>
                            <span><img src="../../../../../../assets/images/Group 4839.png" alt=""></span>
                            <span class="gap"><img src="../../../../../../assets/images/Image_19-removebg-preview.png" alt=""></span>
                            <span class="gap"><img src="../../../../../../assets/images/Image_20-removebg-preview.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>