<div class="nation_detail">
    <mat-tab-group [(selectedIndex)]=selectedIndex>
        <mat-tab label="Tổng quan" fxLayout="column">
            <div class="nation_detail_overview">
                <div class="nation_overview_video">
                    <iframe src="https://www.youtube.com/embed/psmJzQulRPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <div class="play_btn">
                    </div>
                    <span class="overview-icon"><i class="fas fa-play"></i></span> -->
                </div>
                <div class="nation_overview_statistic" fxLayout="column">
                    <div class="overview_title">
                        <h4 class="text-center">Thống kê số liệu</h4>
                    </div>
                    <div class="overview_detail">
                        <div>
                            <label for="">Số lượng tỉnh/ thành phố:</label>
                            <span>11 tỉnh/ thành phố</span>
                        </div>
                        <div>
                            <label for="">Diện tích:</label>
                            <span>350.000 km2</span>
                        </div>
                        <div>
                            <label for="">Khí hậu:</label>
                            <span>Nhiệt đới ẩm</span>
                        </div>
                        <div>
                            <label for="">Dân số:</label>
                            <span>12.800.000 người</span>
                        </div>
                        <div>
                            <label for="">Thổ nhưỡng:</label>
                            <span>Đất đỏ</span>
                        </div>
                        <div>
                            <label for="">Số lượng trái cây:</label>
                            <span>15 loại</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Vùng/Miền">
            <h1 class="mat-region-text">Viet Nam</h1>
            <div class="search_all">
                <div class="search_result_item " *ngFor="let item of list_region">
                    <h1>{{item.Name}}</h1>
                    <div class="statistic_right">

                        <table class="regions_table">
                            <tr>
                                <td class="table_lable">Diện tích:</td>
                                <td class="table_detail">2500 km2</td>
                            </tr>
                            <tr>
                                <td class="table_lable">Khí hậu:</td>
                                <td class="table_detail">Nhiệt đới ẩm</td>
                            </tr>
                            <tr>
                                <td class="table_lable">Loại trái cây:</td>
                                <td class="table_detail">1 loại</td>
                            </tr>
                        </table>
                        <div class="regions_fruit_icon d-flex">
                            <img src="../../../../../../assets/images/food-and-restaurant.png" alt="">
                            <span>Trái cây ở Hà Giang</span>
                            <mat-icon>chevron_right</mat-icon>
                        </div>
                    </div>
                </div>
            </div>



        </mat-tab>
        <mat-tab label="Trái cây">
            <p class="fruit_total">Tổng: <span>15 loại trái cây</span> </p>
            <div class="fruit">
                <div class="fruit_list">
                    <div class="list_item" style="position: relative; margin-bottom: 20px;" *ngFor="let item of list| paginate
                    : fruitConf ; let i = index ">
                        <div class="fruit_type">{{i + 1}}</div>
                        <div class="fruit_item" (click)="handleDetailFruit()" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
                            <div class="fruit_item_text" fxFlexAlign.lt-sm="center">
                                <h4>Chuối Laba Đà Lạt</h4>
                                <div class="fruit_ratings_css">
                                    <p>Đánh giá :</p>
                                    <div class="fruit_ratings_css_top">
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fruit_item_img">
                                <img src="assets/images/engin-akyurt-4yTKah43Y2o-unsplash.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <pagination-template class="fruit_pagination" #pg="paginationApi" (pageChange)="fruitConf.currentPage = $event" [id]="fruitConf.id">
                    <ul class="pagination_list" fxLayout="row" fxLayoutAlign="center center">
                        <div>
                            <li class="page_item page_item_previous">
                                <a class="page_link" aria-label="Previous" (click)="pg.previous()">
                  Trước
                </a>
                            </li>
                        </div>
                        <div *ngFor="let page of pg.pages" [class.active]="pg.getCurrent() === page.value">
                            <li class="page_item">
                                <a class="page_link" (click)="pg.setCurrent(page.value)" [class.disabled]="pg.getCurrent() === page.value" *ngIf="pg.getCurrent() !== page.value">{{ page.label }}</a>
                                <a class="page_link" *ngIf="pg.getCurrent() === page.value">{{ page.label }}</a>
                            </li>
                        </div>
                        <div>
                            <li class="page_item page_item_next">
                                <a class="page_link" aria-label="Next" (click)="pg.next()">
                  Sau
                </a>
                            </li>
                        </div>
                    </ul>
                </pagination-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>