<!-- <div class="map__province">
  <h3 class="map__province-title text-center">
    Bản đồ
  </h3>
  <div class="map__province-chart">
    <svg viewBox="0 0 631 728" preserveAspectRatio="xMidYMid meet" class="svg_image"></svg>
  </div>
</div> -->
<div class="province__map" *ngIf="fruitDetail.Id===null">
</div>
<div class="detail__province" *ngIf="fruitDetail.Id!==0">
    <div class="detail__all">
        <div class="detail__carousel">
            <carousel cellWidth="100%" [height]="300" [dots]="true">
                <div class="carousel-cell">
                    <img src="http://hinhnendethuong.com/uploads/images/24-hinh-anh-trai-cay-cuc-mat-lanh-cho-he-soi-dong-1492258051-12.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="http://hinh-nen.org/images/131225Anh-nen-hoa-qua-dep-mat.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="http://res.cgvdt.vn/ckfinder/images/2016/Gia%20Dinh/2069/trai-cay.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="http://hinhnendethuong.com/uploads/images/24-hinh-anh-trai-cay-cuc-mat-lanh-cho-he-soi-dong-1492258051-12.jpg">
                </div>
            </carousel>
        </div>
        <div class="detail__bottom">
            <div class="bottom__left">
                <h3 class="left__title">{{fruitDetail.Name}}</h3>
                <div class="letf__discrible">
                    <p class="title">Miêu tả:</p>
                    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, nulla neque autem ut nemo est rem voluptatum optio doloremque modi nobis ad obcaecati saepe maxime, ipsum architecto. Odio possimus, dolore rem minima nam, quam laboriosam
                        voluptatem eum similique magnam debitis!</p>
                </div>
                <div class="left__list space_top">
                    <p class="title">
                        Danh sách Tỉnh thành phố trồng:
                    </p>
                    <div class="contain">
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                        <div>Lorem Isum</div>
                    </div>
                </div>
            </div>
            <div class="bottom__right">
                <div class="right__rating">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
                <div class="right__time space_top">
                    <p class="title">
                        Thời gian tăng trưởng:
                    </p>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, distinctio.</p>
                </div>
                <div class="right__productivity space_top">
                    <p class="title">
                        Năng suất:
                    </p>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, distinctio.</p>
                </div>
                <div class="right__feature space_top">
                    <p class="title">
                        Đặc điểm:
                    </p>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quia nobis debitis dolorem ipsam consequuntur. Eos maxime deleniti error id nostrum eum repudiandae dignissimos facilis atque, ab animi iste soluta!</p>
                </div>
            </div>
        </div>
    </div>
</div>