<div [class.backdrop_show]="isClickSearch === true"></div>
<div fxLayout="row" fxFlex="100" fxFlex.lt-lg="100" fxLayoutAlign="end" style="background-color: #F4F9F5;">
  <div fxFlex="40" fxLayoutAlign="start center">
    <app-breadcrumb></app-breadcrumb>
    <!-- <span class="title" fxHide.lt-md>Việt Nam</span> -->
  </div>
  <div fxFlex="60" fxLayoutAlign="end center" fxLayout="row">


    <div fxFlex="30" *ngIf="searchText === ''" class="input_search" [class.search_mat]="isClickSearch === true"
      fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
      <mat-form-field fxFlex appearance="outline" (click)="!isClickSearch" (click)="trigger.openPanel()">
        <input matInput #trigger="matAutocompleteTrigger" [(ngModel)]="searchText" (focus)="expanSearchBar(true)"
          (focusout)="expanSearchBar(false)" type="text" placeholder="Tìm kiếm" aria-label="Number"
          [matAutocomplete]="auto">
        <button mat-icon-button matSuffix (focus)="expanSearchBar(true)" (click)="clearVal()">
          <mat-icon *ngIf="isClickSearch===false">search</mat-icon>
          <mat-icon *ngIf="isClickSearch===true">close</mat-icon>
        </button>
      </mat-form-field>


      <!-- ================= Search default ========================== -->

      <mat-autocomplete #auto="matAutocomplete">
        <div fxLayout="column">
          <div [style.margin-left.vw]="5" fxFlexAlign="start" class="search_fruit" fxLayout="column">
            <div class="fruit_text d-flex">
              <mat-icon>search</mat-icon>
              <span class="fruit_title">Tìm kiếm gần đây</span>
            </div>
            <div class="mat_chip">
              <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <mat-chip class="example-box" cdkDrag *ngFor="let vegetable of vegetables">
                  {{vegetable.name}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div [style.margin-left.vw]="5" class="search_region" fxFlexAlign="start" fxLayout="row" fxFlex="100">
            <div class="search_common" fxFlex="60" fxLayoutGap="30px">
              <div class="fruit_text d-flex ">
                <mat-icon>search</mat-icon>
                <span class="fruit_title">Tìm kiếm phổ biến</span>
              </div>
              <div class="search_common_list d-flex" *ngFor="let item of list">
                <img [src]=item.image alt="">
                <div class="common_item">
                  <div class="item_text">
                    <ul>
                      <li><a href="">{{item.name}}</a></li>
                      <li>Khu vực : </li>
                      <li>Thời gian mùa vụ :</li>
                      <li>Số lượng :</li>
                    </ul>

                  </div>

                  <div class="fruit_ratings_css_top">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-option style="display:none"></mat-option>
      </mat-autocomplete>




      <!-- ================= Search   Common ========================== -->
      <!-- <mat-autocomplete #auto="matAutocomplete">
        <div fxLayout="column">
          <div [style.margin-left.vw]="7" fxFlexAlign="start" class="search_fruit" fxLayout="column">
            <div class="fruit_text d-flex">
              <img src="/assets/svg/icon/fruit.svg">
              <span class="fruit_title">Trái cây</span>
            </div>
            <ul class="search_fruit_list">
              <li class="search_fruit_list_item">
                <a [routerLink]="['search']" (click)="trigger.closePanel()" (click)="expanSearchBar(false)"
                  [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a>
              </li>
              <li class="search_fruit_list_item"><a [routerLink]="['search']" (click)="trigger.closePanel()"
                  (click)="expanSearchBar(false)" [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a></li>
              <li class="search_fruit_list_item"><a [routerLink]="['search']" (click)="trigger.closePanel()"
                  (click)="expanSearchBar(false)" [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a></li>
            </ul>
          </div>
          <div [style.margin-left.vw]="7" class="search_region" fxFlexAlign="start">
            <div class="fruit_text  d-flex">
              <img src="/assets/images/floor.png" style="width: 24px;
                  height: 24px;
                 ">

              <span class="fruit_title">Vùng\miền</span>
            </div>
            <ul class="search_fruit_list">
              <li class="search_fruit_list_item"><a herf=""> Vịnh Hạ Long</a></li>
              <li class="search_fruit_list_item"><a herf="">Vịnh Hạ Bắc Bộ</a></li>
              <li class="search_fruit_list_item"><a herf=""> Thanh Hà</a></li>
            </ul>
          </div>

        </div>

        <mat-option style="display:none"></mat-option>
      </mat-autocomplete> -->




      <img *ngIf="user !== undefined" class="user_avatar"
        src="https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80"
        [matMenuTriggerFor]="menu">
    </div>

    <mat-menu #menu="matMenu" class="mt-1">
      <button *ngIf="user !== undefined" mat-menu-item style="outline: none;"
        routerLink="employee/{{user?.EmployeeId}}">
        <mat-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-menu-item style="outline: none;" (click)="logout();">
        <mat-icon>exit_to_app</mat-icon> Đăng xuất
      </button>
    </mat-menu>
  </div>
</div>
<!-- </div> -->
