<div [class.backdrop_show]="isClickSearch === true"></div>
<div fxLayout="row" fxFlex="100" fxFlex.lt-lg="100" fxLayoutAlign="end">
  <div fxFlex="40" fxLayoutAlign="start center">
    <app-breadcrumb></app-breadcrumb>
    <!-- <span class="title" fxHide.lt-md>Việt Nam</span> -->
  </div>
  <div fxFlex="60" fxLayoutAlign="end center" fxLayout="row">

    <div fxFlex="30" class="input_search" *ngIf="searchText !== ''" [class.search_mat]="isClickSearch === true"
      fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
      <mat-form-field fxFlex appearance="outline" (click)="!isClickSearch" (click)="trigger.openPanel()">
        <input matInput #trigger="matAutocompleteTrigger" [(ngModel)]="searchText" (focus)="expanSearchBar(true)"
          (focusout)="expanSearchBar(false)" type="text" placeholder="Tìm kiếm" aria-label="Number"
          [matAutocomplete]="auto">
        <button mat-icon-button matSuffix (focus)="expanSearchBar(true)" (click)="clearVal()">
          <mat-icon *ngIf="isClickSearch===false">search</mat-icon>
          <mat-icon *ngIf="isClickSearch===true">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <div fxLayout="column">
          <div [style.margin-left.vw]="7" fxFlexAlign="start" class="search_fruit" fxLayout="column">
            <div class="fruit_text d-flex">
              <img src="/assets/svg/icon/fruit.svg">
              <span class="fruit_title">Trái cây</span>
            </div>
            <ul class="search_fruit_list">
              <li class="search_fruit_list_item">
                <a [routerLink]="['search']" (click)="trigger.closePanel()" (click)="expanSearchBar(false)"
                  [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a>
              </li>
              <li class="search_fruit_list_item"><a [routerLink]="['search']" (click)="trigger.closePanel()"
                  (click)="expanSearchBar(false)" [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a></li>
              <li class="search_fruit_list_item"><a [routerLink]="['search']" (click)="trigger.closePanel()"
                  (click)="expanSearchBar(false)" [queryParams]="'Vai Thieu Thanh Ha'">
                  Vải
                  Thiều Thanh Hà</a></li>
            </ul>
          </div>


          <div [style.margin-left.vw]="7" class="search_region" fxFlexAlign="start">
            <div class="fruit_text  d-flex">
              <img src="/assets/images/floor.png" style="width: 24px;
                  height: 24px;
                 ">

              <span class="fruit_title">Vùng\miền</span>
            </div>
            <ul class="search_fruit_list">
              <li class="search_fruit_list_item"><a herf=""> Vịnh Hạ Long</a></li>
              <li class="search_fruit_list_item"><a herf="">Vịnh Hạ Bắc Bộ</a></li>
              <li class="search_fruit_list_item"><a herf=""> Thanh Hà</a></li>
            </ul>
          </div>

        </div>

        <mat-option style="display:none"></mat-option>
      </mat-autocomplete>
      <img *ngIf="user !== undefined" class="user_avatar"
        src="https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80"
        [matMenuTriggerFor]="menu">
    </div>







    <div fxFlex="30" *ngIf="searchText === ''" class="input_search" [class.search_mat]="isClickSearch === true"
      fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px">
      <mat-form-field fxFlex appearance="outline" (click)="!isClickSearch" (click)="trigger.openPanel()">
        <input matInput #trigger="matAutocompleteTrigger" [(ngModel)]="searchText" (focus)="expanSearchBar(true)"
          (focusout)="expanSearchBar(false)" type="text" placeholder="Tìm kiếm" aria-label="Number"
          [matAutocomplete]="auto">
        <button mat-icon-button matSuffix (focus)="expanSearchBar(true)" (click)="clearVal()">
          <mat-icon *ngIf="isClickSearch===false">search</mat-icon>
          <mat-icon *ngIf="isClickSearch===true">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <div fxLayout="column">
          <div [style.margin-left.vw]="5" fxFlexAlign="start" class="search_fruit" fxLayout="column">
            <div class="fruit_text d-flex">
              <mat-icon>search</mat-icon>
              <span class="fruit_title">Tìm kiếm gần đây</span>
            </div>
            <div class="mat_chip">
              <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <mat-chip class="example-box" cdkDrag *ngFor="let vegetable of vegetables">
                  {{vegetable.name}}
                </mat-chip>
              </mat-chip-list>
            </div>

          </div>


          <div [style.margin-left.vw]="5" class="search_region" fxFlexAlign="start" fxLayout="row" fxFlex="100">
            <div class="search_common" fxFlex="60" fxLayoutGap="30px">
              <div class="fruit_text d-flex ">
                <mat-icon>search</mat-icon>
                <span class="fruit_title">Tìm kiếm phổ biến</span>
              </div>
              <div class="common_list" fxLayout="row">
                <div class="common_item d-flex" *ngFor="let item of list">
                  <p>{{item.name}}</p>
                  <img src="../../../../assets/images/slider3.png" alt="">
                </div>
              </div>
              <div class="common_list" fxLayout="row">
                <div class="common_item d-flex" *ngFor="let item of list">
                  <p>{{item.name}}</p>
                  <img src="../../../../assets/images/slider3.png" alt="">
                </div>
              </div>

            </div>


            <div class="search_suggest" fxFlex="60">
              <div class="fruit_text d-flex">
                <mat-icon>search</mat-icon>
                <span class="fruit_title">Gợi ý cho bạn</span>
              </div>
              <div class="common_list" fxLayout="row">
                <div class="common_item d-flex" *ngFor="let item of list">
                  <p>{{item.name}}</p>
                  <img src="../../../../assets/images/slider3.png" alt="">
                </div>
              </div>
              <div class="common_list" fxLayout="row">
                <div class="common_item d-flex" *ngFor="let item of list">
                  <p>{{item.name}}</p>
                  <img src="../../../../assets/images/slider3.png" alt="">
                </div>
              </div>

            </div>


          </div>

        </div>

        <mat-option style="display:none"></mat-option>
      </mat-autocomplete>
      <img *ngIf="user !== undefined" class="user_avatar"
        src="https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80"
        [matMenuTriggerFor]="menu">
    </div>

    <!-- 
      <div fxFlex="60" class="search_auto" fxLayout="row">
        <mat-form-field appearance="legacy" class="search_fruit">
          <mat-label>Search</mat-label>
          <input matInput type="text" placeholder="" aria-label="Number" [matAutocomplete]="auto">
          <button mat-icon-button matSuffix (click)="_filter(1231)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="search_mat" fxLayout="row">
          <mat-autocomplete #auto="matAutocomplete">
            <div class="search_fruit" fxLayout="column">
              <div class="fruit_text d-flex">
                <img src="/assets/svg/icon/fruit.svg">
                <span class="fruit_title">Trái cây</span>
              </div>
              <ul class="search_fruit_list">
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
              </ul>
            </div>


            <div class="search_region">
              <div class="fruit_text  d-flex">
                <img src="/assets/images/floor.png" style="width: 24px;
                  height: 24px;
                 ">

                <span class="fruit_title">Vùng\miền</span>
              </div>
              <ul class="search_fruit_list">
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
                <li class="sear_fruit_list_item"><a herf=""> Vải Thiều Thanh Hà</a></li>
              </ul>
            </div>

            <mat-option style="display:none"></mat-option>
          </mat-autocomplete>
          <img *ngIf="user !== undefined"
            src="https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixlib=rb-1.2.1&w=1000&q=80"
            [matMenuTriggerFor]="menu"
            style="width:44px; height:44px; border-radius:20%; border:1px solid #fff;cursor: pointer;outline: none;">
        </div>

      </div> -->



    <!-- <img *ngIf="user !== undefined" src="{{user?.ProfileImageURL}}" [matMenuTriggerFor]="menu" style="width:44px; height:44px; border-radius:20%; border:1px solid #fff;cursor: pointer;outline: none;"> -->
    <mat-menu #menu="matMenu" class="mt-1">
      <button *ngIf="user !== undefined" mat-menu-item style="outline: none;"
        routerLink="employee/{{user?.EmployeeId}}">
        <mat-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-menu-item style="outline: none;" (click)="logout();">
        <mat-icon>exit_to_app</mat-icon> Đăng xuất
      </button>
    </mat-menu>
  </div>
</div>
<!-- </div> -->